
<div class="row">
    <div class="col-sm-12">
        <div class="home-tab">
            <div class="d-sm-flex align-items-center justify-content-between border-bottom">
                <div>
                    <div class="btn-wrapper">
                        <a href="#" class="btn btn-otline-dark"><i class="icon-printer"></i> Yazdır</a>
                        <a href="#" class="btn btn-primary text-white me-0"><i class="icon-download"></i> Dışa Aktar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
