<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="~/Connection/Index/">
                <i class="mdi mdi-grid-large menu-icon"></i>
                <span class="menu-title">Bağlantı Sayfası</span>
            </a>
        </li>
        <li class="nav-item nav-category">Raporlar ve Kayıtlar</li>
        <li class="nav-item">
            <a class="nav-link" href="~/Report/CreateReport">
                <i class="menu-icon mdi mdi-card-text-outline"></i>
                <span class="menu-title">Rapor Oluştur</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="menu-icon mdi mdi-card-text-outline"></i>
                <span class="menu-title">Script Kaydet</span>
            </a>
        </li>

    </ul>
</nav>