@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr">
@await Component.InvokeAsync("_LayoutHeader")
<body>
    <div class="container-scroller">


        @await Component.InvokeAsync("_LayoutNavbar")

        <div class="container-fluid page-body-wrapper">


            @await Component.InvokeAsync("_LayoutSideBar")

            <div class="main-panel">

                <div class="content-wrapper">

                    @RenderBody()

                </div>
                @await Component.InvokeAsync("_LayoutFooter")


</body>

</html>

