<form asp-controller="Connection" asp-action="ConnectToDatabase" method="post">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Veri Tabanı Bilgilerini Giriniz</h4>
                <p class="card-description">
                    Doğruluğuna Dikkat Ediniz !
                </p>
                <div class="form-group row">
                    <div class="col">
                        <label>Server Name</label>
                        <div id="the-basics">
                            <input class="typeahead" type="text" placeholder="Server Name" id="DbTable_ServerName" name="DbTable_ServerName">
                        </div>
                    </div>
                    <div class="col">
                        <label>User Name</label>
                        <div id="bloodhound">
                            <input class="typeahead" type="text" placeholder="UserName" id="DbTable_UserName" name="DbTable_UserName">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col">
                        <label>Password</label>
                        <div id="the-basics">
                            <input class="typeahead" type="text" placeholder="Password" id="DbTable_Password" name="DbTable_Password">
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Connect</button>
        </div>
    </div>
</form>