<footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash.</span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2021. All rights reserved.</span>
    </div>
</footer>
            </div>
        </div>
    </div>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="~/star-admin2-free/template/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="~/star-admin2-free/template/vendors/chart.js/Chart.min.js"></script>
<script src="~/star-admin2-free/template/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<script src="~/star-admin2-free/template/vendors/progressbar.js/progressbar.min.js"></script>

<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="~/star-admin2-free/template/js/off-canvas.js"></script>
<script src="~/star-admin2-free/template/js/hoverable-collapse.js"></script>
<script src="~/star-admin2-free/template/js/template.js"></script>
<script src="~/star-admin2-free/template/js/settings.js"></script>
<script src="~/star-admin2-free/template/js/todolist.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="~/star-admin2-free/template/js/dashboard.js"></script>
<script src="~/star-admin2-free/template/js/Chart.roundedBarCharts.js"></script>
<!-- End custom js for this page-->
